[bumpversion]
current_version = 0.5.5
commit = True
tag = True

[bumpversion:file:setup.py]

[bumpversion:file:README.rst]

[bumpversion:file:docs/conf.py]

[bumpversion:file:src/pynYNAB/__init__.py]

