graft docs
graft examples
graft src
graft ci
graft tests
graft testscripts
graft test_live

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig
include .isort.cfg

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini .travis.yml appveyor.yml

include *.sh
include *.sh
recursive-include test_live *.html
recursive-include test_live *.js
recursive-include test_live *.py
recursive-include testscripts *.py
global-exclude *.py[cod] __pycache__ *.so *.dylib
